<div class='errors alert alert-danger'>
  <a class='close' data-dismiss='alert' href='#' aria-hidden='true'>&times;</a>
  <ul>
    <% for(var i=0; i < errors.length; i++) { %>
      <li><%= errors[i] %></li>
    <% } %>
  </ul>
</div>"
